In [1]:
# pip install pyspark

In [2]:
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Practice').master("local[*]").getOrCreate()

24/08/14 11:16:55 WARN Utils: Your hostname, PC-390 resolves to a loopback address: 127.0.1.1; using 192.168.15.114 instead (on interface enp4s0)
24/08/14 11:16:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/14 11:16:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
customer = spark.read.csv("Ecommerce Database/Customers.csv",
                          inferSchema=True, header=True)

In [6]:
customer.show()

+----------+-----------+---------+-------------------+-----------+----------------+-------------+----------+----------+--------------------+-------------------+
|CustomerID|  FirstName| LastName|      Date_of_Birth|       City|           State|      Country|PostalCode|     Phone|               Email|        DateEntered|
+----------+-----------+---------+-------------------+-----------+----------------+-------------+----------+----------+--------------------+-------------------+
|     57081|      James|    Smith|1987-03-26 00:00:00|   New York|        New York|United States|    280862|9638483934|James.Smith@gmail...|2020-01-02 00:00:00|
|     57082|     Robert|Downey Jr|1973-05-24 00:00:00|   New York|        New York|United States|    376573|6588282115|Robert.Downey Jr@...|2020-01-06 00:00:00|
|     57083|       John| Williams|1990-04-14 00:00:00|    Chicago|        Illinois|United States|    485629|7641021429|John.Williams@gma...|2020-01-11 00:00:00|
|     57084|    Michael|  Johnson|1953-03-25 00:00:00|   Brisbane|      Queensland|    Australia|    260866|7354232181|Michael.Johnson@g...|2020-01-16 00:00:00|
|     57085|      Steve| Williams|1971-04-24 00:00:00|     Bremen|          Bremen|      Germany|    740338|6285552036|Steve.Williams@gm...|2020-01-17 00:00:00|
|     57086|      David|  Beckham|1965-10-18 00:00:00|    Villach|       Carinthia|      Austria|    621492|7756781677|David.Beckham@gma...|2020-01-20 00:00:00|
|     57087|    Richard|    Brown|1958-12-16 00:00:00|San Antonio|           Texas|United States|    110945|8420993031|Richard.Brown@gma...|2020-01-20 00:00:00|
|     57088|     Joseph|    James|1967-08-27 00:00:00|  Amsterdam|   North Holland|  Netherlands|    186896|6691466381|Joseph.James@gmai...|2020-01-25 00:00:00|
|     57089|     Thomas|    Jones|1950-04-30 00:00:00|     Dallas|           Texas|United States|    174080|8024463594|Thomas.Jones@gmai...|2020-01-26 00:00:00|
|     57090|    Charles|     King|1993-06-24 00:00:00|     Warsaw|        Masovian|       Poland|    589838|8498546902|Charles.King@gmai...|2020-01-27 00:00:00|
|     57091|Christopher|   Garcia|1988-03-21 00:00:00|     Austin|           Texas|United States|    772795|9610580408|Christopher.Garci...|2020-02-03 00:00:00|
|     57092|     Daniel|   Rensch|1966-02-10 00:00:00|     Dublin|          Dublin|      Ireland|    189723|7947018222|Daniel.Rensch@gma...|2020-02-03 00:00:00|
|     57093|    Matthew|   Miller|1971-06-03 00:00:00|   Brisbane|      Queensland|    Australia|    901170|7764122382|Matthew.Miller@gm...|2020-02-04 00:00:00|
|     57094|    Anthony|    James|1957-04-12 00:00:00|   Brussels|Brussels-Capital|      Belgium|    322713|9371469569|Anthony.James@gma...|2020-02-07 00:00:00|
|     57095|       Mark|    Davis|1960-03-13 00:00:00|   Brussels|Brussels-Capital|      Belgium|    943158|8396048181|Mark.Davis@gmail.com|2020-02-09 00:00:00|
|     57096|     Donald|Rodriguez|1952-01-29 00:00:00|     Patras|  Western Greece|       Greece|    127461|9919606399|Donald.Rodriguez@...|2020-02-09 00:00:00|
|     57097|     Steven|    Smith|1995-07-13 00:00:00|      Braga|           Braga|     Portugal|    531783|7287587361|Steven.Smith@gmai...|2020-02-10 00:00:00|
|     57098|       Paul|   Walker|1960-09-21 00:00:00|    Seattle|      Washington|United States|    427696|8892185286|Paul.Walker@gmail...|2020-02-11 00:00:00|
|     57099|     Andrew| Martinez|1998-03-04 00:00:00|     Bruges|   West Flanders|      Belgium|    717216|9289999420|Andrew.Martinez@g...|2020-02-11 00:00:00|
|     57100|     Joshua|Fernandez|1994-05-07 00:00:00|      Braga|           Braga|     Portugal|    700077|7810204569|Joshua.Fernandez@...|2020-02-13 00:00:00|
+----------+-----------+---------+-------------------+-----------+----------------+-------------+----------+----------+--------------------+-------------------+
only showing top 20 rows

In [7]:
customer.count()

525

In [8]:
len(customer.columns)

11

In [9]:
customer.select("FirstName", "LastName", "Country").show(10)

+---------+---------+-------------+
|FirstName| LastName|      Country|
+---------+---------+-------------+
|    James|    Smith|United States|
|   Robert|Downey Jr|United States|
|     John| Williams|United States|
|  Michael|  Johnson|    Australia|
|    Steve| Williams|      Germany|
|    David|  Beckham|      Austria|
|  Richard|    Brown|United States|
|   Joseph|    James|  Netherlands|
|   Thomas|    Jones|United States|
|  Charles|     King|       Poland|
+---------+---------+-------------+
only showing top 10 rows

In [10]:
customer.groupBy("Country").count().show()

+----------------+-----+
|         Country|count|
+----------------+-----+
|          Russia|   24|
|         Germany|   29|
|          France|   35|
|          Greece|   28|
|         Belgium|   27|
|   United States|   66|
|           India|   40|
|           Italy|   14|
|         Ireland|   27|
|     Switzerland|   33|
|     New Zealand|    5|
|          Poland|   19|
|        Portugal|   37|
|       Australia|   30|
|         Romania|   20|
|         Austria|   32|
|    South Africa|    5|
|Northern Ireland|   30|
|     Netherlands|   24|
+----------------+-----+

In [11]:
customer.groupBy("Country").count().orderBy("count", ascending=False).show()

+----------------+-----+
|         Country|count|
+----------------+-----+
|   United States|   66|
|           India|   40|
|        Portugal|   37|
|          France|   35|
|     Switzerland|   33|
|         Austria|   32|
|       Australia|   30|
|Northern Ireland|   30|
|         Germany|   29|
|          Greece|   28|
|         Belgium|   27|
|         Ireland|   27|
|          Russia|   24|
|     Netherlands|   24|
|         Romania|   20|
|          Poland|   19|
|           Italy|   14|
|     New Zealand|    5|
|    South Africa|    5|
+----------------+-----+

In [12]:
from pyspark.sql import functions as F
customer.groupBy(F.year("DateEntered").alias("Year"),
                 F.month("DateEntered").alias("Month")).count().alias("Number of customers").orderBy("Year", "Month").show()

+----+-----+-----+
|Year|Month|count|
+----+-----+-----+
|2020|    1|   10|
|2020|    2|   23|
|2020|    3|   30|
|2020|    4|   30|
|2020|    5|   21|
|2020|    6|   20|
|2020|    7|   10|
|2020|    8|   15|
|2020|    9|   22|
|2020|   10|   18|
|2020|   11|   10|
|2020|   12|   10|
|2021|    1|   40|
|2021|    2|   41|
|2021|    3|   39|
|2021|    4|   25|
|2021|    5|   23|
|2021|    6|   23|
|2021|    7|   20|
|2021|    8|   22|
+----+-----+-----+
only showing top 20 rows

In [13]:
customer.createTempView("customer")

In [14]:
spark.sql('SELECT * FROM CUSTOMER').show()

+----------+-----------+---------+-------------------+-----------+----------------+-------------+----------+----------+--------------------+-------------------+
|CustomerID|  FirstName| LastName|      Date_of_Birth|       City|           State|      Country|PostalCode|     Phone|               Email|        DateEntered|
+----------+-----------+---------+-------------------+-----------+----------------+-------------+----------+----------+--------------------+-------------------+
|     57081|      James|    Smith|1987-03-26 00:00:00|   New York|        New York|United States|    280862|9638483934|James.Smith@gmail...|2020-01-02 00:00:00|
|     57082|     Robert|Downey Jr|1973-05-24 00:00:00|   New York|        New York|United States|    376573|6588282115|Robert.Downey Jr@...|2020-01-06 00:00:00|
|     57083|       John| Williams|1990-04-14 00:00:00|    Chicago|        Illinois|United States|    485629|7641021429|John.Williams@gma...|2020-01-11 00:00:00|
|     57084|    Michael|  Johnson|1953-03-25 00:00:00|   Brisbane|      Queensland|    Australia|    260866|7354232181|Michael.Johnson@g...|2020-01-16 00:00:00|
|     57085|      Steve| Williams|1971-04-24 00:00:00|     Bremen|          Bremen|      Germany|    740338|6285552036|Steve.Williams@gm...|2020-01-17 00:00:00|
|     57086|      David|  Beckham|1965-10-18 00:00:00|    Villach|       Carinthia|      Austria|    621492|7756781677|David.Beckham@gma...|2020-01-20 00:00:00|
|     57087|    Richard|    Brown|1958-12-16 00:00:00|San Antonio|           Texas|United States|    110945|8420993031|Richard.Brown@gma...|2020-01-20 00:00:00|
|     57088|     Joseph|    James|1967-08-27 00:00:00|  Amsterdam|   North Holland|  Netherlands|    186896|6691466381|Joseph.James@gmai...|2020-01-25 00:00:00|
|     57089|     Thomas|    Jones|1950-04-30 00:00:00|     Dallas|           Texas|United States|    174080|8024463594|Thomas.Jones@gmai...|2020-01-26 00:00:00|
|     57090|    Charles|     King|1993-06-24 00:00:00|     Warsaw|        Masovian|       Poland|    589838|8498546902|Charles.King@gmai...|2020-01-27 00:00:00|
|     57091|Christopher|   Garcia|1988-03-21 00:00:00|     Austin|           Texas|United States|    772795|9610580408|Christopher.Garci...|2020-02-03 00:00:00|
|     57092|     Daniel|   Rensch|1966-02-10 00:00:00|     Dublin|          Dublin|      Ireland|    189723|7947018222|Daniel.Rensch@gma...|2020-02-03 00:00:00|
|     57093|    Matthew|   Miller|1971-06-03 00:00:00|   Brisbane|      Queensland|    Australia|    901170|7764122382|Matthew.Miller@gm...|2020-02-04 00:00:00|
|     57094|    Anthony|    James|1957-04-12 00:00:00|   Brussels|Brussels-Capital|      Belgium|    322713|9371469569|Anthony.James@gma...|2020-02-07 00:00:00|
|     57095|       Mark|    Davis|1960-03-13 00:00:00|   Brussels|Brussels-Capital|      Belgium|    943158|8396048181|Mark.Davis@gmail.com|2020-02-09 00:00:00|
|     57096|     Donald|Rodriguez|1952-01-29 00:00:00|     Patras|  Western Greece|       Greece|    127461|9919606399|Donald.Rodriguez@...|2020-02-09 00:00:00|
|     57097|     Steven|    Smith|1995-07-13 00:00:00|      Braga|           Braga|     Portugal|    531783|7287587361|Steven.Smith@gmai...|2020-02-10 00:00:00|
|     57098|       Paul|   Walker|1960-09-21 00:00:00|    Seattle|      Washington|United States|    427696|8892185286|Paul.Walker@gmail...|2020-02-11 00:00:00|
|     57099|     Andrew| Martinez|1998-03-04 00:00:00|     Bruges|   West Flanders|      Belgium|    717216|9289999420|Andrew.Martinez@g...|2020-02-11 00:00:00|
|     57100|     Joshua|Fernandez|1994-05-07 00:00:00|      Braga|           Braga|     Portugal|    700077|7810204569|Joshua.Fernandez@...|2020-02-13 00:00:00|
+----------+-----------+---------+-------------------+-----------+----------------+-------------+----------+----------+--------------------+-------------------+
only showing top 20 rows

In [15]:
spark.sql("""
            SELECT
              YEAR('DateEntered') AS Year,
              Month('DateEntered') AS Month,
              COUNT(*) AS Number_of_customers
              FROM customer
              GROUP BY Year, Month
              ORDER BY Year, Month
              """).show()

+----+-----+-------------------+
|Year|Month|Number_of_customers|
+----+-----+-------------------+
|NULL| NULL|                525|
+----+-----+-------------------+

In [16]:
Order = spark.read.csv("Ecommerce Database/Orders.csv", inferSchema=True, header=True)

In [17]:
Order.show()

+-------+----------+---------+----------+---------+----------+------------+------------------+
|OrderID|CustomerID|PaymentID| OrderDate|ShipperID|  ShipDate|DeliveryDate|Total_order_amount|
+-------+----------+---------+----------+---------+----------+------------+------------------+
|7655500|     57083|        2|12-01-2020|        7|13-01-2020|  19-01-2020|           25112.0|
|7655501|     57086|        3|20-01-2020|        2|24-01-2020|  27-01-2020|           22453.0|
|7655502|     57086|        4|06-02-2020|        7|11-02-2020|  21-02-2020|           13293.0|
|7655503|     57088|        4|09-02-2020|        1|13-02-2020|  26-02-2020|           16063.0|
|7655504|     57090|        4|11-02-2020|        3|15-02-2020|  20-02-2020|           15193.0|
|7655505|     57094|        4|15-02-2020|        1|24-02-2020|  27-02-2020|           13581.0|
|7655506|     57092|        4|20-02-2020|        8|23-02-2020|  27-02-2020|           74120.0|
|7655507|     57095|        6|23-02-2020|        8|04-03-2020|  11-03-2020|           12092.0|
|7655508|     57105|        4|26-02-2020|        5|28-02-2020|  08-03-2020|           48258.0|
|7655509|     57095|        5|26-02-2020|        7|27-02-2020|  08-03-2020|            7509.0|
|7655510|     57103|        3|02-03-2020|        7|07-03-2020|  14-03-2020|           11803.1|
|7655511|     57100|        3|05-03-2020|        3|07-03-2020|  17-03-2020|           3851.35|
|7655512|     57107|        4|05-03-2020|        8|14-03-2020|  27-03-2020|           20135.0|
|7655513|     57101|        3|06-03-2020|        4|12-03-2020|  26-03-2020|           4837.35|
|7655514|     57096|        5|07-03-2020|        7|14-03-2020|  22-03-2020|           10991.0|
|7655515|     57110|        4|12-03-2020|        5|20-03-2020|  28-03-2020|           39769.0|
|7655516|     57101|        3|13-03-2020|        2|14-03-2020|  19-03-2020|           33272.4|
|7655517|     57095|        6|13-03-2020|        3|19-03-2020|  30-03-2020|           26176.0|
|7655518|     57099|        6|15-03-2020|        6|22-03-2020|  05-04-2020|           20100.0|
|7655519|     57121|        4|15-03-2020|        1|21-03-2020|  26-03-2020|            2555.0|
+-------+----------+---------+----------+---------+----------+------------+------------------+
only showing top 20 rows

In [18]:
customerOrder = customer.join(Order, on="CustomerID", how="inner").show()

+----------+---------+---------+-------------------+---------+----------------+----------------+----------+----------+--------------------+-------------------+-------+---------+----------+---------+----------+------------+------------------+
|CustomerID|FirstName| LastName|      Date_of_Birth|     City|           State|         Country|PostalCode|     Phone|               Email|        DateEntered|OrderID|PaymentID| OrderDate|ShipperID|  ShipDate|DeliveryDate|Total_order_amount|
+----------+---------+---------+-------------------+---------+----------------+----------------+----------+----------+--------------------+-------------------+-------+---------+----------+---------+----------+------------+------------------+
|     57083|     John| Williams|1990-04-14 00:00:00|  Chicago|        Illinois|   United States|    485629|7641021429|John.Williams@gma...|2020-01-11 00:00:00|7655500|        2|12-01-2020|        7|13-01-2020|  19-01-2020|           25112.0|
|     57086|    David|  Beckham|1965-10-18 00:00:00|  Villach|       Carinthia|         Austria|    621492|7756781677|David.Beckham@gma...|2020-01-20 00:00:00|7655501|        3|20-01-2020|        2|24-01-2020|  27-01-2020|           22453.0|
|     57086|    David|  Beckham|1965-10-18 00:00:00|  Villach|       Carinthia|         Austria|    621492|7756781677|David.Beckham@gma...|2020-01-20 00:00:00|7655502|        4|06-02-2020|        7|11-02-2020|  21-02-2020|           13293.0|
|     57088|   Joseph|    James|1967-08-27 00:00:00|Amsterdam|   North Holland|     Netherlands|    186896|6691466381|Joseph.James@gmai...|2020-01-25 00:00:00|7655503|        4|09-02-2020|        1|13-02-2020|  26-02-2020|           16063.0|
|     57090|  Charles|     King|1993-06-24 00:00:00|   Warsaw|        Masovian|          Poland|    589838|8498546902|Charles.King@gmai...|2020-01-27 00:00:00|7655504|        4|11-02-2020|        3|15-02-2020|  20-02-2020|           15193.0|
|     57094|  Anthony|    James|1957-04-12 00:00:00| Brussels|Brussels-Capital|         Belgium|    322713|9371469569|Anthony.James@gma...|2020-02-07 00:00:00|7655505|        4|15-02-2020|        1|24-02-2020|  27-02-2020|           13581.0|
|     57092|   Daniel|   Rensch|1966-02-10 00:00:00|   Dublin|          Dublin|         Ireland|    189723|7947018222|Daniel.Rensch@gma...|2020-02-03 00:00:00|7655506|        4|20-02-2020|        8|23-02-2020|  27-02-2020|           74120.0|
|     57095|     Mark|    Davis|1960-03-13 00:00:00| Brussels|Brussels-Capital|         Belgium|    943158|8396048181|Mark.Davis@gmail.com|2020-02-09 00:00:00|7655507|        6|23-02-2020|        8|04-03-2020|  11-03-2020|           12092.0|
|     57105|   Edward| Gonzalez|1972-07-08 00:00:00|   Patras|  Western Greece|          Greece|    588452|9234402314|Edward.Gonzalez@g...|2020-02-20 00:00:00|7655508|        4|26-02-2020|        5|28-02-2020|  08-03-2020|           48258.0|
|     57095|     Mark|    Davis|1960-03-13 00:00:00| Brussels|Brussels-Capital|         Belgium|    943158|8396048181|Mark.Davis@gmail.com|2020-02-09 00:00:00|7655509|        5|26-02-2020|        7|27-02-2020|  08-03-2020|            7509.0|
|     57103|    Brian|    Lopez|1952-01-26 00:00:00|   Bremen|          Bremen|         Germany|    627019|8605500276|Brian.Lopez@gmail...|2020-02-17 00:00:00|7655510|        3|02-03-2020|        7|07-03-2020|  14-03-2020|           11803.1|
|     57100|   Joshua|Fernandez|1994-05-07 00:00:00|    Braga|           Braga|        Portugal|    700077|7810204569|Joshua.Fernandez@...|2020-02-13 00:00:00|7655511|        3|05-03-2020|        3|07-03-2020|  17-03-2020|           3851.35|
|     57107|  Timothy|   Wilson|1970-05-29 00:00:00|   Zurich|          Zurich|     Switzerland|    884138|8426394400|Timothy.Wilson@gm...|2020-02-22 00:00:00|7655512|        4|05-03-2020|        8|14-03-2020|  27-03-2020|           20135.0|
|     57101|  Kenneth|Hernandez|1987-08-07 00:00:00|  Belfast|         Belfast|Northern Ireland|    462012|6036253941|Kenneth.Hernandez...|2020-02-14 00:00:00|7655513|        3|06-03-2020|        4|12-03-2020|  26-03-2020|           4837.35|
|     57096|   Donald|Rodriguez|1952-01-29 00:00:00|   Patras|  Western Greece|          Greece|    127461|9919606399|Donald.Rodriguez@...|2020-02-09 00:00:00|7655514|        5|07-03-2020|        7|14-03-2020|  22-03-2020|           10991.0|
|     57110|     Ryan| Reynolds|1954-03-07 00:00:00| Brisbane|      Queensland|       Australia|    610116|6704627597|Ryan.Reynolds@gma...|2020-02-25 00:00:00|7655515|        4|12-03-2020|        5|20-03-2020|  28-03-2020|           39769.0|
|     57101|  Kenneth|Hernandez|1987-08-07 00:00:00|  Belfast|         Belfast|Northern Ireland|    462012|6036253941|Kenneth.Hernandez...|2020-02-14 00:00:00|7655516|        3|13-03-2020|        2|14-03-2020|  19-03-2020|           33272.4|
|     57095|     Mark|    Davis|1960-03-13 00:00:00| Brussels|Brussels-Capital|         Belgium|    943158|8396048181|Mark.Davis@gmail.com|2020-02-09 00:00:00|7655517|        6|13-03-2020|        3|19-03-2020|  30-03-2020|           26176.0|
|     57099|   Andrew| Martinez|1998-03-04 00:00:00|   Bruges|   West Flanders|         Belgium|    717216|9289999420|Andrew.Martinez@g...|2020-02-11 00:00:00|7655518|        6|15-03-2020|        6|22-03-2020|  05-04-2020|           20100.0|
|     57121| Benjamin|      Lee|1992-10-22 00:00:00|   Dublin|          Dublin|         Ireland|    909426|9945527365|Benjamin.Lee@gmai...|2020-03-07 00:00:00|7655519|        4|15-03-2020|        1|21-03-2020|  26-03-2020|            2555.0|
+----------+---------+---------+-------------------+---------+----------------+----------------+----------+----------+--------------------+-------------------+-------+---------+----------+---------+----------+------------+------------------+
only showing top 20 rows

In [19]:
import pyspark.sql.functions as F

customerOrder = customer.join(Order, on="CustomerID", how="inner")

# Use the correct column name 'Total_order_amount'
customerOrder.groupBy("Country").agg(
    F.round(F.sum("Total_order_amount"),
            0).alias("Revenue")
).orderBy("Revenue", ascending=False).show()

+----------------+-----------+
|         Country|    Revenue|
+----------------+-----------+
|   United States|1.1787059E7|
|           India|  7813408.0|
|        Portugal|  6626170.0|
|       Australia|  5987945.0|
|         Austria|  5629163.0|
|     Switzerland|  5417082.0|
|          France|  5364255.0|
|Northern Ireland|  5129955.0|
|          Greece|  4994220.0|
|     Netherlands|  4742809.0|
|         Ireland|  4645891.0|
|         Germany|  4541393.0|
|          Russia|  4404334.0|
|         Belgium|  4069739.0|
|         Romania|  3891355.0|
|          Poland|  3050020.0|
|           Italy|  1915701.0|
|     New Zealand|   956542.0|
|    South Africa|   952107.0|
+----------------+-----------+